<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{data.sprites.front_default}}" class="img-fluid rounded-start" alt="..." width="500" height="500">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-text">{{data.species.name}}</h3>
           <p class="card-text">Tipo: <small class="text-body-secondary">{{data.types[0].type.name}}</small></p>
         
        </div>
      </div>
    </div>
</div>