<div class="container mt-5">
    <p>Bindin-property works!</p>
    <hr />
    <input type="text" class="form-control" [placeholder]="txtPlaceHolder" [disabled]="habilitar">
    <br>
    <input [type]="txtType" class="form-check-input" [checked]="isChecked">
    <hr />
    <button type="button" [class]="clase" [disabled]="habilitar">
        Disabled Button
    </button>

    <div class="form-check form-switch mt-3">
        <input type="checkbox" class="form-check-input" role="switch" id="flexSwitchCheckDefault"
            (click)="cambiarPropiedad()">

        <label for="flexSwitchCheckDefault" class="form-check-label">Estado</label>
    </div>
    <hr />

</div>